<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>FundMe PCs</title>
  <meta name="description" content="Making sure every child has a computer to learn, grow and succeed.">
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>

  <%#= javascript_include_tag 'head', 'data-turbolinks-track' => true %>
  <%#= headjs_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= yield :head %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'bootstrap/bootstrap', 'icomoon-social', 'leaflet', 'main', media: 'all' %>

  <!--[if lt IE 9]>
  <%= stylesheet_link_tag 'leaflet.ie', media: 'all' %>
  <![endif]-->

  <%= javascript_include_tag 'modernizr' %>
</head>
<body>
  <%= render 'layouts/header' %>

  <%= yield %>

  <%= render 'layouts/footer' %>

  <!-- Javascripts -->
  <script src="/assets/jquery.js"></script>
  <script src="/assets/leaflet.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="/assets/bootstrap.js"></script>
  <script src="/assets/jquery.fitvids.js"></script>
  <script src="/assets/jquery.sequence.js"></script>
  <script src="/assets/jquery.bxslider.js"></script>
  <script src="/assets/main-menu.js"></script>
  <script src="/assets/template.js"></script>
</body>
</html>